.card {

    color: blue;
    background-image: url("../LocalRepo/images/universe\ webp.gif");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: cover;
    height: 520px;
}

.btn {
    color: black;
    font-size: 15px;
    width: 63px;
    height: 30px;
    background-color: white;
    border: 0px;
     font-family:inherit;
     color: inherit;
}

.cta {
    color: black;
    border-bottom: 5px solid white;
    border-radius: 5px;
    text-shadow: 0px 0px 3px red;
}

#isro-image {
    width: 90px;
}

.card2 {
    color: aqua;
    width: 500px;
    font-size:xx-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
}